<header class="bg-zinc-900 w-full flex p-3">
  <div class="flex items-center no-underline font-bold text-3xl text-white">
      CarRental
  </div>
  <div class='relative bg-white w-full rounded-md'}>
    <div classe="flex w-full items-center space-x-1">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" className="flex-auto bg-white border-transparent rounded-md focus:border-transparent ring-0 outline-none font-light text-sm p-3" placeholder="Keress elérhető járműveink között!" />
    </div>
    <div className='block border-t-2 absolute w-full max-h-76 rounded-b-md bg-white shadow-md overflow-hidden z-10'>
  </div>
</div>
</header>
