<div class="flex w-full justify-center">
  <section class=" w-3/4 pt-32 text-white">
    <p class="text-4xl font-extrabold uppercase">Kényelmes.</p>
    <p class="text-2xl font-semibold">Városi cirkálásra alkalmas modellek és prémium autók luxus élménnyel.</p>
    <p class="text-2xl font-semibold">Legtöbb autónk automata váltóval és sok más extrával.</p>
  </section>
</div>
<div class="flex w-full justify-center py-12">
  <section class="w-3/4 bg-zinc-100 rounded-md shadow-sm mt-5 overflow-hidden">
    <div *ngIf="userService.isAdmin" class="flex items-center space-x-3 w-full bg-zinc-300 p-4">
      <div class="bg-white flex items-center w-max px-3 py-1 rounded-md cursor-pointer hover:shadow-sm hover:bg-green-500 hover:text-white transition duration-100" (click)="onCreateCar()">
        <fa-icon [icon]="faCirclePlus" class="p-2"></fa-icon>
        Új jármű
      </div>
      <div class="bg-white flex items-center w-max px-3 py-1 rounded-md cursor-pointer hover:shadow-sm hover:bg-green-500 hover:text-white transition duration-100" (click)="onCreateCar()">
        <fa-icon [icon]="faCirclePlus" class="p-2"></fa-icon>
        Új Márka
      </div>
      <div class="bg-white flex items-center w-max px-3 py-1 rounded-md cursor-pointer hover:shadow-sm hover:bg-green-500 hover:text-white transition duration-100" (click)="onCreateCar()">
        <fa-icon [icon]="faCirclePlus" class="p-2"></fa-icon>
        Új Modell
      </div>
    </div>
      <div [hidden]="cars">
        Nem található bérelhető jármű
      </div>
      <div *ngIf="cars">
        <a [routerLink]=" ['/cars', car.id]" *ngFor="let car of cars; let i = index" class="flex items-center w-full p-2 hover:bg-white transition duration-200 ease-in-out h-40 cursor-pointer relative group">
          <div class='w-64 group-hover:scale-110 duration-200 ease-in-out'>
            <img class="object-cover p-2" width="100%" [src]="car.image" alt="city">
          </div>
          <div class="p-3 items-center h-max w-2/3 group-hover:ml-6 duration-200">
            <div class='flex space-x-1'>
              <p class="font-extrabold text-3xl text-zinc-800"> {{ car.model?.brand?.name}} </p>
              <p class="font-light text-lg text-zinc-700"> {{ car.model?.name }}</p>
            </div>
            <div class="flex space-x-2">
              <span *ngFor="let category of car.categories; let i = index" class="w-max py-0.5 px-1 text-xs text-white rounded-sm bg-black">
                {{ category.name }}
              </span>
            </div>
            <p class=" font-extrabold text-lg text-zinc-900"> {{ car.price }} <span class="text-sm font-normal">Ft / nap</span></p>
          </div>
          <div *ngIf="car.status === 'IN_USE'" class="absolute right-0 bg-red-600 text-white text-xs m-4 rounded-sm px-1 py-0.5">{{ status(car.status) }}</div>
        </a>
      </div>
  </section>
</div>
