<div class=" w-full h-screen">
  <div class="fixed w-full -z-20 h-screen" style="background-color: '#081c15';">
    <img class="object-cover" width="100%" src="./assets/imgs/background.jpeg" alt="city">
  </div>
  <header class="fixed bg-zinc-900 w-full flex items-center space-x-12 p-3 z-50">
    <div class="flex items-center no-underline font-bold text-3xl text-white">
      <fa-icon [icon]="faCar" class="p-2"></fa-icon>
      <p class="hidden md:block">CarRental</p>
    </div>
    <div class="w-full">
      <app-search></app-search>
    </div>

    <div class="flex items-center no-underline font-bold text-xl text-white">
      <div class="bg-neutral-900 rounded-md py-3 px-4 hover:bg-neutral-700">
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
    </div>

    <div class="flex items-center no-underline font-bold text-xl text-white">
      <button class="bg-neutral-900 p-3 rounded-md hover:bg-neutral-700">Bejelentkezés</button>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>



